// Colors
$primary-color: #005dab;
$secondary-color: #777777;

$main-background: #383f48;
$header-background: #2f343c;
$menu-background: #272c33;
$card-background: #272c33;
$form-field-background: #272c33;
$error-background: #fc4b6c;
$warning-background: #ffb22b;
$apply-background: #28a745;
$cancel-background: #fc4b6c;

$primary-font-color: white;
$secondary-font-color: #777777;

$error-color: #fc4b6c;
$cancel-font-color: white;