$general-form-width: 450px;
$general-form-font-size: 15px;
$general-form-label-width: 130px;
$general-form-field-width: 320px;

$general-form-button-width: 100px;
$general-form-button-height: 30px;
$general-form-button-border-radius: 3px;
$general-form-button-font-size: 16px;
$general-form-button-font-weight: bold;
$general-form-button-line-height: $general-form-button-height;
