// Colors
$primary-color: #0087BE;
$secondary-color: #777777;
$tertiary-color: #c0c0c0;
$tertiary-color-soft: #f1f1f1;

$main-background: white;
$secondary-background: $tertiary-color;
$header-background: $main-background;
$error-background: #fc4b6c;
$warning-background: #ffb22b;
$apply-background: #28a745;
$cancel-background: $error-background;

$menu-background: #004d6d;
$menu-text: white;
$menu-activated-background: #005F89;
$menu-activated-text: $primary-color;

$card-background: $menu-background;

$form-field-background: $menu-background;

$licence-bound-color: $primary-color;
$licence-active-color: $apply-background;
$licence-inactive-color: $secondary-color;
$licence-expired-color: $error-background;

$separator-color: #272c33;

$primary-font-color: $primary-color;
$secondary-font-color: #272c33;
$tertiary-font-color: $secondary-color;

$error-color: $error-background;
$cancel-font-color: $main-background;