// Dimenssions
$break-small:  576px;
$break-medium: 768px;
$break-large:  992px;

// Colors
$primary-color: #005dab;
$secondary-color: #777777;
$error-color: red;
$apply-bg-color: green;
$apply-font-color: white;
$cancel-bg-color: red;
$cancel-font-color: white;